#div0{
    height: 50px;
    background-color:#F5F5F5;
    display: block;
    margin: 0 auto;
    width: 100%;
   
}
.nav{
    /* width: 800px; */
    margin-left: 620px;
    line-height: 30px;
}
.nav li{
    float:left;
    margin: 0 10px;  
    cursor:pointer;

    
}
.nav li a{
    color:black;
    font-size: 15px;
}
#img1{
    float: left;
    margin-left: 200px;
    margin-top: 5px;
}
#img2{

    margin-top: 5px;
}



