<!-- <p>
  home works!
</p> -->
<!-- 我将样式写到行内，方便大家看，大家的样式要写到css文件中去 -->
<!-- <div class="left" style="float:left;">
  <ul> -->
    <!-- <li><a [routerLink]="['./todo']">todolist</a></li>
    <li><a [routerLink]="['./parent']">parent组件</a></li> -->
    <!-- <li><a [routerLink]=""></a></li>
    <li><a [routerLink]=""></a></li>
  </ul>
</div> -->
<!-- <img src="assets/images/myLogo.png" alt=""> -->
<!-- <div class="right" style="float:left;margin-left:50px;">
  <router-outlet></router-outlet>
</div> -->

<div class="left">
  <img src="../../../assets/images/touxiang.png"><br>
  <span class="spanname">8-齐琦</span><br>
  <span class="span0">0</span>
  <span class="span6">6</span><br>
  <span class="spanfensi">粉丝</span>
  <span class="spanguanzhu">关注</span><br>
  <ul class="lists">
    <li><a [routerLink]="['./renwutail']"><img src="../../../assets/images/任务.png">任务&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    ></a></li>
    <li><a [routerLink]="['./hometongbutail']"><img src="../../../assets/images/梅花.png">同步课&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ></a></li>
    <li><a [routerLink]="['./homekechengtail']"><img src="../../../assets/images/书本书签.png">课程&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    ></a></li>
    <li><a [routerLink]="['./homeqieshuotail']"><img src="../../../assets/images/消息.png">且说&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    ></a></li>
    <li><a [routerLink]="['./hometongzhitail']"><img src="../../../assets/images/通知.png">通知&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    ></a></li>
  </ul>
</div>
<div class="right">
  <router-outlet></router-outlet>
</div>