<div class="container">
  
  <div *ngFor="let shequ of shequs;" class="left">
      <img src="{{shequ.touxiang}}" class="touxiang">
      <img src="{{shequ.peitu}}" class="peitu">
      <h5>{{shequ.tieming}}</h5>
      <p class="miaoshu">{{shequ.miaoshu}}</p>
      <span class="renming">{{shequ.renming}}</span>
      <span class="time">{{shequ.time}}</span>
      <span class="read">阅读</span>
      <span class="readrenshu">{{shequ.readrenshu}}</span>
      <span class="pinglun">评论</span>
      <span class="pinglunrenshu">{{shequ.pinglunrenshu}}</span>
      <!-- <hr> -->
  </div> 
  <p class="remenhuati">热门话题</p>
    <ul class="right">
      <li>#2015级程序设计基础：C语言#</li>
      <li>#2015级面向对象程序设计(C++)#</li>
      <li>#cms与模板制作#</li>
      <li>#数据结构#</li>
      <li>#数据库原理（5.6.7.8班）#</li>
      <li>#2014级PHP程序设计#</li>
      <li>#Web开发（二）2015级3、4班#</li>
      <li>#数据库系统概论 2014级1、2班#</li>
      <li>#Web开发（二）2015级5、6班#</li>
      <li>#Web开发（二）2015级5、6班#</li>
    </ul>
    <ul class="right2">
      <li>6万</li>
      <li>6万</li>
      <li>6万</li>
      <li>6万</li>
      <li>6万</li>
      <li>6万</li>
      <li>6万</li>
      <li>6万</li>
      <li>6万</li>
      <li>6万</li>
    </ul>
</div>

