<nav>
  <img src="../../../assets/images/logo.png" id="logo">
  <ul class="nav">
    <li><a [routerLink]="['/home']">首页</a></li>
    <li><a [routerLink]="['/tongbu']">同步课</a></li>
    <li><a [routerLink]="['/course']">课程</a></li>
    <li><a [routerLink]="['/shequ']">社区</a></li>
  </ul>
  <input type="text" placeholder="搜索课程、问答"/>
  <button><img src="../../../assets/images/sousuo.png"></button>
  <img src="../../../assets/images/2.png" id="img2">
  <div class="hoverimg2">
      <ul>
        <li>我的</li>
        <li>收到的赞</li>
        <li>评论</li>
      </ul>
  </div>
  <img src="../../../assets/images/3.png" id="img3">
  <div class="hoverimg3">
    <ul>
      <li>个人主页</li>
      <li>设置</li>
      <li>退出</li>
    </ul>
  </div>
  
</nav>
