<div class="container">
  <div class="container2">
      <img src="../../../assets/images/maozhua.png" class="maozhua">
      <h3>同步课/{{course?.courseName}}</h3>
      <img src="../../../assets/images/shenqing2.png" class="shenqing2">
      <ul class="list">
        <li><img src="../../../assets/images/jianjie.png">简介</li>
        <li><img src="../../../assets/images/hudong.png">互动</li>
        <li><img src="../../../assets/images/renwu2.png">任务{{course?.task}}</li>
        <li><img src="../../../assets/images/chengyuan.png">成员{{course?.person}}</li>
      </ul>
  </div>
  
</div>
<hr size=10 class="hhr">
