<!-- <div class="container">
  <h3>同步课{{course?.courseName}}</h3>
  <ul class="list">
    <li>简介</li>
    <li>互动</li>
    <li>任务{{course?.task}}</li>
    <li>成员{{course?.person}}</li>
  </ul>
</div> -->
<hr id="hr">
<div id="div1">
  <div id="div2">
    <span id="coursename">同步课&nbsp;&nbsp;/&nbsp;&nbsp;{{course?.courseName}}</span>
  </div>
  <div id="div3">
      <ul id="list">
        <li><a>简介</a></li>
        <li><a>互动</a></li>
        <li><a>任务{{course?.task}}</a></li>
        <li><a>成员{{course?.person}}</a></li>
      </ul>
  </div>
</div>