<div class="container">
  
    <div *ngFor="let shequ of aitewodes;" class="left">
        <img src="{{shequ.touxiang}}" class="touxiang">
        <!-- <img src="{{shequ.peitu}}" class="peitu"> -->
        <h5>{{shequ.tieming}}</h5>
        <p class="miaoshu">{{shequ.miaoshu}}</p>
        <!-- <span class="renming">{{shequ.renming}}</span> -->
        <span class="time">{{shequ.time}}</span>
        <span class="read">阅读</span>
        <span class="readrenshu">{{shequ.readrenshu}}</span>
        <span class="pinglun">评论</span>
        <span class="pinglunrenshu">{{shequ.pinglunrenshu}}</span>
        <!-- <hr> -->
    </div> 

  </div>
  
  